
.fk-reactchart {
  height: inherit;
  display: flex;
  flex-flow: column;
	position: relative;

	.fk-chart-svg-div {
	  flex: 1 1 auto;
	  overflow: hidden;
		position: relative;

		/// interactivity
		.fk-fade-out {
			opacity: 0;
			transition: opacity 0.3s ease;
		}

	}

	.fade-chart {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	.legend-position {
		vertical-align: top;
	}

	.legend-align {
		text-align: left;
	}

	.reactchart-toggle-menu {

		display: inline-block;
		float: right;
		text-align: -webkit-right;

		.menu {
		  display: flex;
		  flex-direction: row;
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
			z-index: 1;
		}

		.menu > li {
	 	 	margin: 0 1rem;
	 		overflow: hidden;
		}

		.menu-button-container {
	  	display: none;
	  	height: 20px;
	  	width: 30px;
	  	cursor: pointer;
	  	flex-direction: column;
	  	justify-content: center;
	  	align-items: center;
		}

		.menu-button,
		.menu-button::before,
		.menu-button::after {
		  display: block;
		  background-color: lightgray;
		  position: absolute;
		  height: 4px;
		  width: 30px;
		  border-radius: 2px;
		}

		.menu-button::before {
			content: '';
		  margin-top: -8px;
		}

		.menu-button::after {
			content: '';
	  	margin-top: 8px;
		}

	  .menu-button-container {
	    display: flex;
	  }
	  .menu {
	    position: absolute;
			right: 15px;
	    flex-direction: column;
	  }

		// 20 menu toggle max in one page...
		each(range(1%,20%,1),{
			#menu-toggle-@{index} {
		  	display: none;
			}
	
		  #menu-toggle-@{index} ~ .menu li {
		    height: 0;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		  }
	
		  #menu-toggle-@{index}:checked ~ .menu {
		    border: solid lightgray 0.5px;
				border-radius: 5px;
		    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
			}
	
		  #menu-toggle-@{index}:checked ~ .menu > li {
		    height: 2em;
		    padding: 0.5em;
		    border: 0;
		    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		  }
		});
	  .menu > li {
	    display: flex;
	    margin: 0;
	    padding: 0.5em 0;
	    width: 100px;
	    background-color: white;
			cursor: pointer;
	  }

		.menu > li:hover {
			background-color: #F0F0F0;
		}

	}

	.reactchart-graph-settings {

		border: 1px solid lightgray;
		border-radius: 8px;
		padding: 5px;
		.reactchart-settings-table {

			margin: 10px 0px;

			th, td {
				padding: 5px;
			}

		}

		.fk-row {
			.fk-col{
				display: inline-block;
			}

			.fk-serie{
				width: 100px;
			}

			.fk-graphtype{
				width: 130px;
			}

			.fk-color{
				width: 60px;
			}

			.fk-valtype{
				width: 140px;
			}

			.fk-xaxis,.fk-yaxis{
				width: 100px;
			}

			.fk-head{
				font-weight: bold;
			}
		}

		.fk-line{
			margin-top: 10px;

			.fk-label{
				font-weight: bold;
				min-width: 150px;
				margin-right: 10px;
			}
			.fk-button{
				border-radius: 5px;
				border-width: 0.1px;
				padding: 6px 8px;
				background: #3A83F1;
				color: white;
			}
		}

		.fk-line,.fk-row > .fk-input{
			padding: 3px;
		}

	}

	.reactchart-filter {

		display: inline-flex;

		.reactchart-btn-filters {
			.reactchart-btn {
				background:  #F7F7F7;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				margin: 0px 5px;
			}

			.reactchart-btn-active {
				background: #E6EBF5;
				font-weight: bold;
					cursor: auto;
			}
		}

		.reactchart-date-filters {
			.reactchart-from {
				width: 100px;
				margin-left: 65px;
			}

			.reactchart-to {
				width: 100px;
				margin-left: 10px;
			}
		}
	}

// interactive
	.fk-tooltip {

		transition: opacity 0.3s ease;

		.fk-tooltip-background {
			fill: white;
			fill-opacity: 70%;
	    stroke: #CCCCCC;
	    stroke-width: 1px;
	    pointer-events: none;
		}

		.fk-tooltip-text {
			fill: #333333;
	    font-family: Arial sans-serif;
	 		font-size: 12px;
		}
	}

	.fk-tooltip-div {

		box-shadow: 5px 5px 5px gray;
		position: absolute;
		background: rgba(255,255,255,0.7);
		pointer-events: none;
		padding: 3px;
		border: solid 0.5px lightgray;
		font-family: Arial sans-serif;
		font-size: 12px;
		text-align: center;

		.fk-tooltip-title{
			float: center;
		 	font-family: Palatino;
			line-height: 2em;
		}

		.fk-tooltip-text{

			line-height: 1.2em;
			display: table-row;

			.fk-tooltip-label{
				float: left;
				font-family: Gill Sans;
				margin-right: 20px;
			}

			.fk-tooltip-value{
				float: right;
				font-weight: bold;
			}
		}

	}

	.fk-tooltip-in {
		opacity: 1;
	}
	.fk-tooltip-out {
		opacity: 0;
	}
}

.reactchart {

	/// interactivity
	.fk-fade-out {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

  // cadre
  .cadre {
    stroke-width: 1;
    stroke: black;
  }
  // background
  .background {
    fill: none;
  }
  // foreground
  .foreground {
  }
  // title
  .title {
    font-size: 30pt;
  }
  // axis
  .axis {
    .ticks {
      .tick-major {
        stroke: black; 
        stroke-width: 1;
      }
      .tick-minor {
        stroke: gray; 
        stroke-width: 1;
      }
      .label-major {
        fill: black;
        font-size: 10pt;
      }
      .label-major-background {
				fill: none;
      }
      .label-minor {
        fill: black;
        font-size: 10pt;
      }
      .label-minor-background {
				fill: none;
      }
      .grid-major {
        stroke: black; 
        stroke-width: 1;
      }
      .grid-minor {
        stroke: black; 
        stroke-width: 0.3;
      }
    }

    .axis-line {
      stroke: black;
      stroke-width: 1px;
    }

    .axis-label {
      font-size: 20pt;
      fill: black;
    }
    .axis-label-background {
			fill: none;
    }

    .axis-factor {
      fill: black;
      font-size: 10pt;
    }
  }

  // by default, nothing here
  .axis-left {
    .ticks {
      .tick-major-left {}
      .tick-minor-left {}
      .label-major-left {}
      .label-minor-left {}
      .label-major-left-background {}
      .label-minor-left-background {}
      .grid-major-left {}
      .grid-minor-left {}
    }
    .axis-line-left {}
    .axis-label-left {}
    .axis-label-left-background {}
    .axis-factor-left {}
  }
  .axis-right {
    .ticks {
      .tick-major-right {}
      .tick-minor-right {}
      .label-major-right {}
      .label-minor-right {}
      .label-major-right-background {}
      .label-minor-right-background {}
      .grid-major-right {}
      .grid-minor-right {}
    }
    .axis-line-right {}
    .axis-label-right {}
    .axis-label-right-background {}
    .axis-factor-right {}
  }
  .axis-top {
    .ticks {
      .tick-major-top {}
      .tick-minor-top {}
      .label-major-top {}
      .label-minor-top {}
      .label-major-top-background {}
      .label-minor-top-background {}
      .grid-major-top {}
      .grid-minor-top {}
    }
    .axis-line-top {}
    .axis-label-top {}
    .axis-label-top-background {}
    .axis-factor-top {}
  }
  .axis-bottom {
    .ticks {
      .tick-major-bottom {}
      .tick-minor-bottom {}
      .label-major-bottom {}
      .label-minor-bottom {}
      .label-major-bottom-background {}
      .label-minor-bottom-background {}
      .grid-major-bottom {}
      .grid-minor-bottom {}
    }
    .axis-line-bottom {}
    .axis-label-bottom {}
    .axis-label-bottom-background {}
    .axis-factor-bottom {}
  }
  .axis-r {
    .ticks {
      .tick-major-r {}
      .tick-minor-r {}
      .label-major-r {}
      .label-minor-r {}
      .label-major-r-background {}
      .label-minor-r-background {}
      .grid-major-r {}
      .grid-minor-r {}
    }
    .axis-line-r {}
    .axis-label-r {}
    .axis-label-r-background {}
    .axis-factor-r {}
  }
  // curves
  .plain {
    .curve {
      stroke-width: 1;
      stroke: black;
      opacity: 1;
      fill: none;
    }

    .pin {
      stroke-width: 1;
      stroke: black;
      fill: none;
    }
    .tag {
      font-size: 10pt;
      fill: black;
    }
    .mark {
      stroke: black;
      stroke-width: 0;
      opacity: 1;
      fill: black;
    }
    .open {
      fill: none;
      stroke-width: 1;
    }
   }

  .stairs {
    .curve {
      stroke-width: 1;
      stroke: black;
      opacity: 1;
      fill: none;
     }
    .pin {
      stroke-width: 1;
      stroke: black;
      fill: none;
    }
    .tag {
      font-size: 10pt;
      fill: black;
    }
    .mark {
      stroke: black;
      stroke-width: 0;
      opacity: 1;
      fill: black;
    }
    .open {
      fill: none;
      stroke-width: 1;
    }
  }

  .barchart {
    .pin {
      stroke-width: 1;
      stroke: black;
      fill: none;
    }
    .tag {
      font-size: 10pt;
      fill: black;
    }
    .mark {
      stroke: black;
      stroke-width: 0;
      opacity: 1;
      fill: black;
    }
    .open {
      fill: none;
      stroke-width: 1;
    }
  }

  .pie {
    .pin {
      stroke-width: 1;
      stroke: black;
      fill: none;
    }
    .tag {
      font-size: 10pt;
      fill: black;
    }
		.mark {}
  }

}
